<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class= "form-group" style="color: blue">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div>
    <%= form.submit class: "btn btn-warning"  %>
  </div>
<% end %>
